<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>PesquisaArquiteturaController</servlet-name>
        <servlet-class>controller.PesquisaArquiteturaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaAutomovelController</servlet-name>
        <servlet-class>controller.PesquisaAutomovelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaBdController</servlet-name>
        <servlet-class>controller.PesquisaBdController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaCompeticaoController</servlet-name>
        <servlet-class>controller.PesquisaCompeticaoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaDesempenhoController</servlet-name>
        <servlet-class>controller.PesquisaDesempenhoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaDesempenhoTesteController</servlet-name>
        <servlet-class>controller.PesquisaDesempenhoTesteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaDesignController</servlet-name>
        <servlet-class>controller.PesquisaDesignController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaFrequenciaController</servlet-name>
        <servlet-class>controller.PesquisaFrequenciaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaIntegranteController</servlet-name>
        <servlet-class>controller.PesquisaIntegranteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaInvestidorController</servlet-name>
        <servlet-class>controller.PesquisaInvestidorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaPecaController</servlet-name>
        <servlet-class>controller.PesquisaPecaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaPessoaController</servlet-name>
        <servlet-class>controller.PesquisaPessoaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaProfessorController</servlet-name>
        <servlet-class>controller.PesquisaProfessorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaQuesitoController</servlet-name>
        <servlet-class>controller.PesquisaQuesitoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaTipoPecaContoller</servlet-name>
        <servlet-class>controller.PesquisaTipoPecaContoller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaTipoPistaController</servlet-name>
        <servlet-class>controller.PesquisaTipoPistaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaCofreController</servlet-name>
        <servlet-class>controller.PesquisaCofreController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterAutomovelController</servlet-name>
        <servlet-class>controller.ManterAutomovelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterPecaController</servlet-name>
        <servlet-class>controller.ManterPecaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterPessoaController</servlet-name>
        <servlet-class>controller.ManterPessoaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterIntegranteController</servlet-name>
        <servlet-class>controller.ManterIntegranteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterFrequenciaController</servlet-name>
        <servlet-class>controller.ManterFrequenciaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterCompeticaoController</servlet-name>
        <servlet-class>controller.ManterCompeticaoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterAvaliacaoController</servlet-name>
        <servlet-class>controller.ManterAvaliacaoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaAvaliacaoController</servlet-name>
        <servlet-class>controller.PesquisaAvaliacaoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaArquiteturaController</servlet-name>
        <url-pattern>/PesquisaArquiteturaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaAutomovelController</servlet-name>
        <url-pattern>/PesquisaAutomovelController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaBdController</servlet-name>
        <url-pattern>/PesquisaBdController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaCompeticaoController</servlet-name>
        <url-pattern>/PesquisaCompeticaoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaDesempenhoController</servlet-name>
        <url-pattern>/PesquisaDesempenhoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaDesempenhoTesteController</servlet-name>
        <url-pattern>/PesquisaDesempenhoTesteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaDesignController</servlet-name>
        <url-pattern>/PesquisaDesignController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaFrequenciaController</servlet-name>
        <url-pattern>/PesquisaFrequenciaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaIntegranteController</servlet-name>
        <url-pattern>/PesquisaIntegranteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaInvestidorController</servlet-name>
        <url-pattern>/PesquisaInvestidorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaPecaController</servlet-name>
        <url-pattern>/PesquisaPecaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaPessoaController</servlet-name>
        <url-pattern>/PesquisaPessoaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaProfessorController</servlet-name>
        <url-pattern>/PesquisaProfessorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaQuesitoController</servlet-name>
        <url-pattern>/PesquisaQuesitoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaTipoPecaContoller</servlet-name>
        <url-pattern>/PesquisaTipoPecaContoller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaTipoPistaController</servlet-name>
        <url-pattern>/PesquisaTipoPistaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaCofreController</servlet-name>
        <url-pattern>/PesquisaCofreController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterAutomovelController</servlet-name>
        <url-pattern>/ManterAutomovelController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterPecaController</servlet-name>
        <url-pattern>/ManterPecaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterPessoaController</servlet-name>
        <url-pattern>/ManterPessoaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterIntegranteController</servlet-name>
        <url-pattern>/ManterIntegranteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterFrequenciaController</servlet-name>
        <url-pattern>/ManterFrequenciaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterCompeticaoController</servlet-name>
        <url-pattern>/ManterCompeticaoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterAvaliacaoController</servlet-name>
        <url-pattern>/ManterAvaliacaoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaAvaliacaoController</servlet-name>
        <url-pattern>/PesquisaAvaliacaoController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
